body {
}

.field-validation-error {
	color: red;
	display: block;
}

.Imagens .col-md-2 {
	margin-bottom: 30px;
}

.Imagens div {
	text-align: center;
}
.Imagens .btn-imagem-excluir {
	width: 100% !important;
	margin-bottom: 30px;
}

.Imagens .btn-ocultar {
	display: none;
}

.Imagens .img-thumbnail {
	width: 100%;
}

.Imagens .input-file {
	display: none;
}

.Imagens .img-upload {
	cursor: pointer;
}

.Imagens input[name=imagem] {
	display: none;
}